<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<title>{{{title}}}</title>
	</head>

	<body>
		{{{body}}}
		<script src="https://cdn.tailwindcss.com"></script>
	</body>
</html>