<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="utf-8">
        <title>{{{title}}}</title>
    </head>

    <body style="padding: 10px; margin:10px ;">
        <header >
            <h1>MagicDot Solar</h1>
        </header>

        {{{body}}}
    </body>
</html>