<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="utf-8">
        <title>{{{title}}}</title>
        {{!-- <link rel="stylesheet" href="/public/css/main.css"> --}}
    </head>

    <body>
    {{!-- <body style="padding: 10px; margin:10px ;"> --}}
        {{!-- <header >
            <h1>MagicDot Solar</h1>
        </header> --}}

        {{{body}}}
        <script src="https://cdn.tailwindcss.com"></script>
    </body>
</html>