<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

        .font-family-karla {
            font-family: karla;
        }
    </style>
</head>

<body class="bg-white font-family-karla h-screen">
    <br><p class="text-center text-3xl">Messaging Dashboard for</p>
    <p class="text-3xl text-center font-normal leading-normal mt-0 mb-2 text-green-500 font-bold">{{user.name}}</p><br>
</body>