 <head>
    <title>Customer Agreement</title>
  </head>
  <body>
    <div class="container mx-auto p-4">
      <h1 class="text-center text-xl font-bold">Customer Agreement</h1>
      {{#if user.isSigned}}
        <p class="text-center">Dear {{user.name}}, you have already signed the agreement.</p>
        <div class="bg-gray-100 p-4 mt-4">
          <p><strong>Agreement</strong></p>
          <p>Text of the agreement goes here.</p>
        </div>

         <div class="mb-4 py-6">
      <a href="/customer/customerAgreement/download" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Download as PDF
      </a>
    </div>
      {{else}}
        <form method="POST" action="/customer/customerAgreement">
          <div class="bg-gray-100 p-4 mt-4">
            <p><strong>Agreement</strong></p>
            <p>Text of the agreement goes here.</p>
          </div>
          <input type="hidden" name="email" value="{{user.email}}">

          <div class="mt-4">
            <input type="text" name="customerName" class="block w-full border-gray-300 rounded-md shadow-sm py-2 px-3 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Enter your name">
          </div>
          <div class="mt-4">
            <label class="inline-flex items-center">
              <input type="checkbox" name="agree" class="form-checkbox h-5 w-5 text-gray-600"><span class="ml-2">I agree to the terms of the agreement.</span>
            </label>
          </div>
          <div class="mt-4">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
              Submit Agreement
            </button>
            <a href="/customer/chat" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Chat</a>
          </div>
        </form>
      {{/if}}
    </div>
    
  </body>