<nav class="bg-white px-2 sm:px-4 py-2.5 fixed w-full z-20 top-0 left-0 border-b border-gray-200">
	<div class="container flex flex-wrap items-center justify-between mx-auto">
		<a href="/" class="flex items-center">
			<img src="../public/img/logo.svg" class="h-12 sm:h-9" alt="Logo" />
			<span class="self-center text-xl font-semibold whitespace-nowrap">MagicDot</span>
		</a>
		<div class="flex md:order-2">

			<button type="button" class="text-white bg-emerald-600 hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-md px-5 py-2.5 text-center mr-3 md:mr-5">Sign Up</button>

			<a href="/login"><button type="button" class="text-white bg-emerald-600 hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-md px-5 py-2.5 text-center mr-3 md:mr-0">Sign In</button></a>

			<button data-collapse-toggle="navbar-sticky" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-sticky" aria-expanded="false">
				<span class="sr-only">Open main menu</span>
				<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
			</button>
		</div>
		<div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
			<ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-md md:font-medium md:border-0 md:bg-white">
				<li>
					<a href="#" class="block py-2 pl-3 pr-4 text-emerald-700 bg-emerald-700 rounded md:bg-transparent md:text-emerald-700 md:p-0" aria-current="page">Home</a>
				</li>
				<li>
					<a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-emerald-700 md:p-0">About</a>
				</li>
				<li>
					<a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-emerald-700 md:p-0">Services</a>
				</li>
				<li>
					<a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-emerald-700 md:p-0">Projects</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<section class="relative bg-[url(https://images.pexels.com/photos/159397/solar-panel-array-power-sun-electricity-159397.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)] bg-cover bg-center bg-no-repeat">
	<div class="absolute inset-0 bg-white/75 sm:bg-transparent sm:bg-gradient-to-r sm:from-white/95 sm:to-white/25"></div>

	<div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8">
		<div class="max-w-xl text-center sm:text-left">
			<h1 class="text-3xl font-extrabold sm:text-5xl">
				Let's Find Best
				<strong class="block font-extrabold text-emerald-600"> Solar Plan. </strong>
			</h1>

			<p class="mt-4 max-w-lg sm:text-xl sm:leading-relaxed">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo tenetur fuga ducimus numquam ea!
				{{#if inquirySuccess}} <h4>Inquiry submitted</h4>{{/if}}
			</p>

			<div class="mt-8 flex flex-wrap gap-4 text-center">
				<a href="#inquire" class="block w-full rounded-lg bg-emerald-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-emerald-800 focus:outline-none focus:ring active:bg-emerald-500 sm:w-auto">
					Inquire now
				</a>

				<a href="#" class="block w-full rounded-lg bg-white px-12 py-3 text-sm font-medium text-emerald-600 shadow hover:text-emerald-800 focus:outline-none focus:ring active:text-emerald-500 sm:w-auto">
					Get Started
				</a>
			</div>
		</div>
	</div>
</section>

<section class="py-10 bg-gray-100 sm:py-16 lg:py-24">
	<div class="max-w-5xl px-4 mx-auto sm:px-6 lg:px-8">
		<div class="max-w-2xl mx-auto text-center">
			<h2 class="text-3xl font-bold leading-tight text-black sm:text-4xl lg:text-5xl">Numbers tell our story</h2>
			<p class="mt-3 text-xl leading-relaxed text-gray-600 md:mt-8">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis.</p>
		</div>

		<div class="grid grid-cols-1 gap-8 mt-10 text-center lg:mt-24 sm:gap-x-8 md:grid-cols-3">
			<div>
				<h3 class="font-bold text-7xl">
					<span class="text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-emerald-700"> 6+ </span>
				</h3>
				<p class="mt-4 text-xl font-medium text-gray-900">Years in business</p>
				<p class="text-base mt-0.5 text-gray-500">Creating the successful path</p>
			</div>

			<div>
				<h3 class="font-bold text-7xl">
					<span class="text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-emerald-700"> 4821 </span>
				</h3>
				<p class="mt-4 text-xl font-medium text-gray-900">Projects delivered</p>
				<p class="text-base mt-0.5 text-gray-500">In last 6 years</p>
			</div>

			<div>
				<h3 class="font-bold text-7xl">
					<span class="text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-emerald-700"> 37+ </span>
				</h3>
				<p class="mt-4 text-xl font-medium text-gray-900">Team members</p>
				<p class="text-base mt-0.5 text-gray-500">Working for your success</p>
			</div>
		</div>
	</div>
</section>

<section class="py-10 bg-white sm:py-16 lg:py-24">
	<div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
		<div class="grid items-center grid-cols-1 lg:grid-cols-2 gap-x-12 xl:gap-x-24 gap-y-12">
			<div class="relative lg:mb-12">
				<img class="absolute -right-0 -bottom-8 xl:-bottom-12 xl:-right-4" src="https://cdn.rareblocks.xyz/collection/celebration/images/content/3/dots-pattern.svg" alt="" />
				<div class="pl-12 pr-6">
					<img class="relative" src="https://images.pexels.com/photos/8853501/pexels-photo-8853501.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="" />
				</div>
				<div class="absolute left-0 pr-12 bottom-8 xl:bottom-20">
					<div class="max-w-xs bg-emerald-600 rounded-lg sm:max-w-md xl:max-w-md">
						<div class="px-3 py-4 sm:px-5 sm:py-8">
							<div class="flex items-start">
								<p class="text-3xl sm:text-4xl">👋</p>
								<blockquote class="ml-5">
									<p class="text-sm font-medium text-white sm:text-lg">“You made it so simple. My new solar plant was easy to set up!”</p>
								</blockquote>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="2xl:pl-16">
				<h2 class="text-3xl font-bold leading-tight text-black sm:text-4xl lg:text-5xl lg:leading-tight">We make things easy for projects.</h2>
				<p class="text-xl leading-relaxed text-gray-900 mt-9">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia conse duis enim velit mollit. Exercitation veniam.</p>
				<p class="mt-6 text-xl leading-relaxed text-gray-900">Velit officia conse duis enim velit mollit. Exercit ation veniam consequat sunt nostrud amet.</p>
			</div>
		</div>
	</div>
</section>

<section class="flex flex-col md:flex-row items-center" id="inquire">
	<!-- https://source.unsplash.com/random -->
	<div class="bg-gray-900 hidden h-max lg:block w-full md:w-1/3 xl:w-1/3">
		<img src="https://images.unsplash.com/flagged/photo-1566838616631-f2618f74a6a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80" alt="" class="w-full h-full object-cover" />
	</div>

	<div class="bg-white w-full md:max-w-md lg:max-w-full md:mx-auto md:mx-0 md:w-1/2 xl:w-1/2 h-max px-6 lg:px-16 xl:px-12 flex items-center justify-center">

		<div class="w-full h-100">
			<h1 class="text-xl md:text-2xl font-bold leading-tight mt-6">Drop Us A Inquiry!</h1>

			<hr class="mt-3 mb-6 border-gray-300 w-64" />

			<form class="mt-6 pb-6" action="/inquiry" method="POST">
				<div class="mt-4">
					<label class="text-emerald-900" for="username">First Name</label>
					<input id="firstName" name="firstName" type="text" placeholder="John" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:outline-none focus:ring" autocomplete required />
				</div>
				<div class="mt-4">
					<label class="text-emerald-900" for="username">Last Name</label>
					<input id="lastName" name="lastName" type="text" placeholder="Ive" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:outline-none focus:ring" autocomplete required />
				</div>
				<div class="mt-4">
					<label class="text-emerald-900" for="username">Email Address</label>
					<input id="email" name="email" type="email" placeholder="example@gmail.com" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:outline-none focus:ring" autocomplete required />
				</div>
				<div class="mt-4">
					<label class="text-emerald-900" for="username">Phone Number</label>
					<input id="phoneNumber" name="phoneNumber" type="phone number" placeholder="XXX-XXX-XX23" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:outline-none focus:ring" autocomplete required />
				</div>
				<div class="mt-4">
					<label class="text-emerald-900" for="username">Subject</label>
					<input id="subject" name="subject" type="text" placeholder="Inquiry for Solar..." class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:outline-none focus:ring" autocomplete required />
				</div>

				<div class="mt-4">
					<label class="text-emerald-900" for="passwordConfirmation">Message</label>
					<textarea id="message" name="message" type="textarea" placeholder="Message..." class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-md focus:outline-none focus:ring" autocomplete required></textarea>
				</div>

				<div class="mt-4">
					<label class="block text-sm font-medium text-emerald-900">
						Image
					</label>
					<div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
						<div class="space-y-1 text-center">
							<svg class="mx-auto h-12 w-12 text-white" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
								<path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							</svg>
							<div class="flex text-sm text-gray-600">
								<label for="file-upload" class="relative cursor-pointer bg-emerald-600 rounded-md font-medium text-emerald-600 hover:text-emerald-800 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
									<span class="px-4 text-white">Upload a file</span>
									<input id="file-upload" name="file-upload" type="file" class="sr-only" />
								</label>
								<p class="pl-1 text-emerald-800">or drag and drop</p>
							</div>
							<p class="text-xs text-emerald-800">
								PNG, JPG, GIF up to 10MB
							</p>
						</div>
					</div>
				</div>

				<button type="submit " class="w-full block bg-emerald-700 hover:bg-emerald-800 focus:bg-indigo-400 text-white font-semibold rounded-lg px-4 py-3 mt-8">Submit</button>
			</form>

		</div>
	</div>

</section>

<footer aria-label="Site Footer " class="bg-emerald-900">
	<div class="mx-auto max-w-5xl px-4 py-16 sm:px-6 lg:px-8">
		<div class="flex justify-center text-white">
			<img src="../public/img/logo_white.svg" class="h-12 sm:h-9" alt="Logo" />
			<span class="self-center text-xl font-semibold whitespace-nowrap">MagicDot</span>
		</div>

		<p class="mx-auto mt-6 max-w-md text-center leading-relaxed text-white">
			Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt consequuntur amet culpa cum itaque neque.
		</p>

		<nav aria-label="Footer Nav " class="mt-12">
			<ul class="flex flex-wrap justify-center gap-6 md:gap-8 lg:gap-12">
				<li>
					<a class="text-white transition hover:text-gray-700/75" href="/ ">
						About
					</a>
				</li>

				<li>
					<a class="text-white transition hover:text-gray-700/75" href="/ ">
						Services
					</a>
				</li>

				<li>
					<a class="text-white transition hover:text-gray-700/75" href="/ ">
						Projects
					</a>
				</li>

			</ul>
		</nav>

		<ul class="mt-12 flex justify-center gap-6 md:gap-8">
			<li>
				<a href="/ " rel="noreferrer " target="_blank " class="text-white transition hover:text-gray-700/75">
					<span class="sr-only">Facebook</span>
					<svg class="h-6 w-6" fill="currentColor " viewBox="0 0 24 24 " aria-hidden="true ">
						<path
							fill-rule="evenodd "
							d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343
                                        21.128 22 16.991 22 12z "
							clip-rule="evenodd "
						></path>
					</svg>
				</a>
			</li>

			<li>
				<a href="/ " rel="noreferrer " target="_blank " class="text-white transition hover:text-gray-700/75">
					<span class="sr-only">Instagram</span>
					<svg class="h-6 w-6" fill="currentColor " viewBox="0 0 24 24 " aria-hidden="true ">
						<path
							fill-rule="evenodd "
							d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218
                                        1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0
                                        01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45
                                        2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344
                                        1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01
                                        3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097
                                        3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0
                                        000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z "
							clip-rule="evenodd "
						></path>
					</svg>
				</a>
			</li>

			<li>
				<a href="/ " rel="noreferrer " target="_blank " class="text-white transition hover:text-gray-700/75">
					<span class="sr-only">Twitter</span>
					<svg class="h-6 w-6" fill="currentColor " viewBox="0 0 24 24 " aria-hidden="true ">
						<path
							d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287
                                        4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84 "
						></path>
					</svg>
				</a>
			</li>
		</ul>
	</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js "></script>