<main>
  <h2>Sales Dashboard
    {{#each inquiries}}
      <a
        href="#"
        class="block max-w-sm p-6 bg-white border border-gray-200 m-4 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >{{this.customerName}}</h5>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          {{this.customerEmail}}</p>
        <p
          class="font-normal text-gray-700 dark:text-gray-400"
        >{{this.message}}</p>
      </a>
    {{/each}}
  </h2>
</main>
